
@{
    ViewBag.Title = "Messager";
}

<!--Перенести в файл тем-->
<style>
    .mainContainer{
    background-image:url('../../Content/Image/email.jpg');
    height: 350px;
}
    .brushLabel{
        color: white;
    }
    .brushError {
        color: red;
    }
    .inputFull{
        width: 100%;
    }
    .inputHalf{
        width: 50%;
    }
    .Opacity{
        opacity: 0.75;
    }
    .nextRow{
        margin-top: 15px;
    }
    .setMinHeight{
        min-height: 150px;
    }
    .rightAlign{
       text-align: right;
    }
    .leftAlign {
        text-align: right;
    }
    .recipienttable{
        width: 100%;        
        background-color: whitesmoke;
    }
    .recipientdiv {
        max-height: 150px;
    }
    .recipienttabletdbutton{
        width:25%;
    }
</style>


<div class="container-fluid mainContainer"  >
    <div class="row Opacity col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Enter Email
            </div>
            <div class="brushLabel col-xs-8 col-sm-8 col-md-8 col-lg-8">
                Subject of Message
            </div>
        </div>
        <div class="row">
            @using (Html.BeginForm("AddRecipient", "Home"))
            {
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <input class="inputFull"  type="email" name="recipient" placeholder="Enter your email"/> <br/>
                <div class="brushError">@ViewData["EmptyRecipient"]</div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <input type="submit" value="Add" />
            </div>
            }
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                @Html.TextBox("SubjectMessage", null, new { @class = "inputHalf", @id = "subject", @placeholder = "Enter message's subject" }); 
            </div>            
        </div>
        <div class="row nextRow">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Email List
            </div>
            <div class="brushLabel col-xs-8 col-sm-8 col-md-8 col-lg-8">
                Enter Your Message
            </div>
        </div>
        <div class="row nextRow">
            <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                
                    @if (ViewBag.Recipients != null && ViewBag.Recipients.Count != 0)
                    {
                        <div class="pre-scrollable recipientdiv">
                            <table class="recipienttable">
                                @foreach (string recipient in ViewBag.Recipients)
                                {
                                    <tr>
                                        <td>@recipient</td>
                                        <td class="recipienttabletdbutton">@Html.ActionLink("Delete", "DeleteRecipient", "Home", new { recipientname = recipient }, null)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                         <h5 class="brushLabel">The recipients is absent</h5>
                    }
                        
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
               @Html.TextArea("TextMessage",null, new{ @class= "inputFull setMinHeight", @id="message", @placeholder="Enter your message"}); 
            </div>
        </div>
      
        <div class="row rightAlign nextRow">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                <button>Send</button><!--Ссылка вместо кнопки-->
            </div>
        </div>
    </div>
</div>



