@using Web_Mail.ServiceReference1;

<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "Messager";
}

<div class="container-fluid mainContainerIndex"  >
    <div class="row Opacity col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Enter Email
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                List Name
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Subject of Message
            </div>           
        </div>
        <div class="row">
          
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                @Html.TextBox("recipient", null, new { @class = "inputFull", @id = "recipiantName", @type= "email", @placeholder = "Enter recipiant email" });
                 <br/>
                <div class="brushError">@ViewData["EmptyRecipient"]</div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <button id="addRecipiant">Add</button>
            </div>
            
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                @Html.TextBox("ListName", null, new { @class = "inputFull", @id = "listName", @placeholder = "Enter name of list" });
            </div>  
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
             <button  id="addList">Add</button> 
            </div>  
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                @Html.TextBox("SubjectMessage", null, new { @class = "inputFull", @id = "subject", @placeholder = "Enter message's subject" }); 
            </div>            
        </div>
        <div class="row nextRow">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Email List
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                recipiants List
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Enter Your Message
            </div>
        </div>
        <div class="row nextRow">
            <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4">              
                
                <select id="selectRecipiants" size="9" class="inputFull col-xs-9 col-sm-9 col-md-9 col-lg-9"></select>
                        
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <select id="selectRecipiantsList" size="9" class="inputFull col-xs-9 col-sm-9 col-md-9 col-lg-9"></select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
               @Html.TextArea("TextMessage",null, new{ @class= "inputFull setMinHeight", @id="message", @placeholder="Enter your message"}); 
            </div>
        </div>      
        <div class="row centerAlign nextRow">
            <div class=" rightAlign col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <button id="deleteRecipiant">Delete</button>
            </div>
            <div class=" leftAlign col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <button id="editRecipiantList">Edit</button>@*in process*@
            </div>
            <div class=" rightAlign col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                <button id="deleteRecipiantList">Delete</button>@*in process*@
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                <button class="sendButton" id="sendMessage"> Send</button>
            </div>           
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/JavaScript.js"></script>





