<link href="~/Content/bootstrap.css" rel="stylesheet" />
@{
    ViewBag.Title = "Messager";
}

<div class="container-fluid mainContainerIndex"  >
    <div class="row Opacity col-xs-12 col-sm-12 col-md-12 col-lg-12" >
        <div class="row">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Enter Email
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                List Name
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Subject of Message
            </div>           
        </div>
        <div class="row">
            @using (Html.BeginForm("AddRecipient", "Home"))
            {
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <input class="inputFull"  type="email" name="recipient" placeholder="Enter your email"/> <br/>
                <div class="brushError">@ViewData["EmptyRecipient"]</div>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <input type="submit" value="Add" />
            </div>
            }
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                @Html.TextBox("SubjectMessage", null, new { @class = "inputFull", @id = "subject", @placeholder = "Enter name of list" });
            </div>  
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
               <button>ADD</button> <!--Заменить на ссылку-->
            </div>  
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                @Html.TextBox("SubjectMessage", null, new { @class = "inputFull", @id = "subject", @placeholder = "Enter message's subject" }); 
            </div>            
        </div>
        <div class="row nextRow">
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Email List
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                recipiants List
            </div>
            <div class="brushLabel col-xs-4 col-sm-4 col-md-4 col-lg-4">
                Enter Your Message
            </div>
        </div>
        <div class="row nextRow">
            <div class=" col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
                
                    @if (ViewBag.Recipients != null && ViewBag.Recipients.Count != 0)
                    {
                        <div class="pre-scrollable recipientdiv">
                            <table class="recipienttable">
                                @foreach (string recipient in ViewBag.Recipients)
                                {
                                    <tr>
                                        <td>@recipient</td>
                                        <td class="recipienttabletdbutton">@Html.ActionLink("Delete", "DeleteRecipient", "Home", new { recipientname = recipient }, null)</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                         <h5 class="brushLabel">The recipients is absent</h5>
                    }
                        
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                @if (ViewBag.RecipientsList != null && ViewBag.RecipientsList.Count != 0)
                {
                    <div class="pre-scrollable recipientdiv">
                        <table class="recipienttable">
                            @foreach (string recipientlist in ViewBag.RecipientsList)
                            {
                                <tr>
                                    <td>@recipientlist</td>
                                    <td class="recipienttabletdbutton">@Html.ActionLink("Delete", "DeleteRecipient", "Home", new { recipientname = recipientlist }, null)</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <h5 class="brushLabel">The recipientslist is absent</h5>
                }
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
               @Html.TextArea("TextMessage",null, new{ @class= "inputFull setMinHeight", @id="message", @placeholder="Enter your message"}); 
            </div>
        </div>      
        <div class="row centerAlign nextRow">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                <button class="sendButton"onclick="Send()"> Send</button>
            </div>           
        </div>
    </div>
</div>

<script src="~/Scripts/JavaScript.js"></script>



